@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

:root{
    --container-width-lg:88%;
    --container-width-md:92% ;
    --transitions: all 400ms ease;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #17252A;
    color: #DEF2F1;
    line-height: 1.7;
}

h1 , h2{
    line-height: 1.1;
    font-weight: 400;
}

h1{
    font-size: 4rem;
    color: white;
}

h2{
    font-size: 3.5rem;
}

a{
    color: #17252A;
    transition: var(--transitions);
}
a:hover{
    color: white;
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 2160px;
}

img{
    display: block;
    object-fit: cover;
    width: 100%;
}



/*====================== Nav Bar ========================= */
nav{
    height: 6rem;
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

/* Nav class on scroll using javascript */
.window-scrolled{
    background: #2B7A78;
    border-bottom: .1rem solid white;
    box-shadow: 0 1rem 1rem rgba(0,0,0,.3);
}

.nav__container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__toggle-btn{
    display: none;
}

.nav__logo{
    width: 15rem;
}

.nav__links{
    display: flex;
    gap: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.nav__socials{
    display: flex;
    gap: 1rem;
}
.nav__socials a{
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    background: #17252A;
    border-radius: 0.5rem;
    color: white;
    display: grid;
    place-items: center;
    transition: var(--transitions);
}
.nav__socials a:hover{
    box-shadow: 0 .8rem .8rem rgba(0,0,0,.4);
    transform: scale(1.1);
    background: white;
    color: #17252A;
}


/*====================== Header ========================= */
header{
    max-width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    background: #3AAFA9;
    overflow: hidden;
}

.header__container{
    display: grid;
    grid-template-columns: 43% 53%;
    gap: 4%;
    margin-top: 10rem;
    position: relative;
}

.header__img-bg{
    background: #17252A;
    height: 20rem;
    width: 14rem;
    position: absolute;
}

.header__img-lg{
    width: 25rem;
    position: relative;
    top: 1rem;
    left: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: var(--transitions);
}

.header__img-sm{
    width: 22rem;
    height: 22rem;
    overflow: hidden;
    position: absolute;
    top: 6rem;
    left: 6rem;
    transition: var(--transitions);
}

.header__left:hover .header__img-sm{
    opacity: 0;
}

.header__left:hover .header__img-lg{
    filter: saturate(1) brightness(1);
    border: .5rem solid #17252A;
    top: 0;
    left: 0;
}

.empty{
    margin-bottom: 4rem;
}

.header__right h1{
    font-family: 'Lobster Two', cursive;

}

.header__right p{
    margin-top: 2rem;
    width: 85%;
}

/* only shows on tablates and phones */
.header__btn-md{
    display: none;
}

.header__frames {
    position: absolute;
    top: 88vh;
    right: 44rem;
    transition: var(--transitions);
}

.header__frame{
    width: 14rem;
    border: solid 0.4rem #17252A;
    box-shadow: 0 0 4rem rgba(0,0,0,.4);
    position: absolute;
    transform: rotate(-10deg);
    transform-origin: bottom left;
    transition: var(--transitions);
}

.header__frame:nth-child(2){
    transform: rotate(20deg);
    top: -2rem;
    left: 2rem;
}

.header__frames:hover .header__frame{
    transform: rotate(0);
}

.header__frames:hover .header__frame:nth-child(2){
    top: 0;
    left: 15rem;
}

/* general styles */
.contact__btn{
    color: #17252A;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: var(--transitions);
}

.header__btn{
    background: linear-gradient(90deg, rgba(225,255,0,1) 0%, rgba(255,196,0,1) 62%, rgba(224,158,0,1) 100%);
    position: absolute;
    right: 6%;
    bottom: -3rem;
}

.header__btn:hover {
    box-sizing: 0 2rem 2rem rgba(0 ,0 ,0 ,0.4);
    transform: translateY(-1rem);
}

.contact__btn i{
    font-size: 3.3rem;
    position: absolute;
    transition: var(--transitions);
}

.contact__btn p {
    font-size: 1rem;
    font-weight: 600;
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    animation: spinText 20s linear infinite;
}

.contact__btn p span {
    position: absolute;
    transform-origin: 0.3rem 5rem;
}

@keyframes spinText{
    to {
        transform: rotate(360deg);
    }
}

.contact__btn:hover p{
    color: #17252A;
}
.contact__btn:hover i{
    transform: rotate(-15deg);
    color: #09ff00;
}

/*===========----- About section -----===================*/
#about{
    margin-top: 18rem;
}

.about__container{
    display: grid;
    grid-template-columns: 10rem 26rem auto;
    gap: 3rem;
    position: relative;
}

.about__title{
    position: absolute;
    top: -8rem;
    z-index: 1;
}

#about h2{
    font-family: 'Pattaya', sans-serif;
}

.about__btn{
    background: linear-gradient(90deg, rgba(225,255,0,1) 0%, rgba(255,196,0,1) 62%, rgba(224,158,0,1) 100%);
    align-self: flex-end;
}
.about__btn:hover{
    transform: translateY(-1rem);
}

.about__image{
position: relative;    
}

.about__image-bg{
    width: 16rem;
    height: 24rem;
    position: absolute;
    top: 0;
    background: #2B7A78;
}

.about__image-lg{
    position: relative;
    top: 1rem;
    left: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: var(--transitions);
}

.about__image-sm{
    position: absolute;
    top: 3rem;
    left: 8rem;
    height: 20rem;
    width: 20rem;
    overflow: hidden;
    box-sizing: 2rem 2rem 2rem rgba(255,255,255,0.4);
    transition: var(--transitions);
}

.about__image:hover .about__image-sm{
    opacity: 0;
}
.about__image:hover .about__image-lg{
    filter: saturate(1) brightness(1);
    border: .5rem solid #3AAFA9;
    top: 0;
    left: 0;
}

.about__right{
    margin-left: 5rem;
}

.about__right p{
    margin: 0 4rem 1.5rem 0;
}


/*===============----- Gallery section -----===================*/
#gallery{
    margin-top: 12rem;
}

.gallery__head{
    display: flex;
    justify-content: space-between;
}

#gallery h2{
    font-family: 'Pattaya', sans-serif;
}

.gallery__container p{
    width: 45rem;
}

.swiper-wrapper{
    margin-top: 5rem;
    padding-bottom: 5rem;
}

.swiper-slide{
    border: .5rem solid #2B7A78;
    height: fit-content;
    max-height: 36rem;
    overflow: hidden;
    transition: var(--transitions);
}

.swiper-slide:hover {
    box-shadow: 0 .5rem .5rem rgba(255,255,255,.3);
}

.swiper-slide img{
    filter: saturate(0);
    transition: var(--transitions);
}

.swiper-slide:hover img{
    filter: saturate(1);
}

.swiper-pagination-bullet{
    background-color: yellow;
}


/*===============----- Exhibitions section -----===================*/
#exhibitions{
    margin-top: 10rem;
}

#exhibitions h2{
    font-family: 'Pattaya', sans-serif;
}

.exhibitions__container{
    position: relative;
}

#exhibitions .empty{
    width: 26rem;
    position: absolute;
    right: 14rem;
    top: 0;
}

.exhibitions__head{
    display: grid;
    grid-template-columns: auto 10rem;
    justify-content: space-between;
    align-items: center;
}

.exhibitions__head > p{
    width: 45rem;
}

.exhibitions__gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 5rem;
    gap: 3rem;
}

.exhibitions__gallery article{
    border: .5rem solid #2B7A78;
    transition: var(--transitions);
}

.exhibitions__gallery article:nth-child(1) {
    grid-row: 1/3;
}
.exhibitions__gallery article:nth-child(4) {
    grid-column: 2/4;
    grid-row: 2/3;
}

.exhibitions__gallery article img{
    height: 100%;
    filter: saturate(0);
    transition: var(--transitions);
}

.exhibitions__gallery article:hover img{
    filter: saturate(1);
}

.exhibitions__gallery article:hover{
    box-shadow: 0 4rem 4rem rgba(0,0,0,.4);
}

/*===============----- Footer section -----===================*/
footer{
    margin-top: 7rem;
}

.footer__container{
    border-top: 0.5rem solid #2B7A78;
    padding-top: 5rem;
}
.footer__links a{
    color: #2B7A78;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .3rem;
}

.footer__head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.footer__title {
    letter-spacing: .4rem;
}

.footer__btn{
    width: 5rem;
    height: 5rem;
    border: 0.2rem solid #2B7A78;
    border-radius: 50%;
    font-size: 3rem;
    color: #2B7A78;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transitions);
}

.footer__btn:hover{
    transform: translateY(-1rem);
    color: yellow;
}

.footer__links{
    margin: 3rem 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.footer__links a:hover{
    color: yellow;
}

